certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.1
cryptography==42.0.7
deepl==1.18.0
idna==3.7
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jeepney==0.8.0
keyring==25.2.1
more-itertools==10.2.0
pycparser==2.22
requests==2.32.2
SecretStorage==3.3.3
urllib3==2.2.1
zipp==3.18.2
